
# pixi environments
.pixi
*.egg-info

# pycache
__pychache__
**/*.pyc

# logs
dev_logs
**/*.log
**/*.err
**/*.out

# constructed dev configs
client/dev_config
start_server.sh
test_client.sh
**/data

# configs
**/.env
id_rsa
id_rsa.pub
server/authorized_keys
twilio_env
